button {
	font-size: 20px;
	width: 25%;
	height: 80px;
	position: relative;
	color: white;
	outline: none;
	border: none;
	background: #444;
}

.display {
	color: white;
	text-align: right;
	font-size: 20px;
}

button:hover {
	color: black;
	background: #aaa;
	cursor: pointer;
}

.calculator {
	margin-top: 5%;
	padding: 5px;
	background: #333;
	width: 320px;
	position: relative;
}
